In [2]:
import pandas as pd

In [3]:
March_2014 = pd.read_csv("../data/201403-citibike-tripdata.csv")
March_2015 = pd.read_csv("../data/201503-citibike-tripdata.csv")
March_2016 = pd.read_csv("../data/201603-citibike-tripdata.csv")
March_2017 = pd.read_csv("../data/201703-citibike-tripdata.csv")
March_2018 = pd.read_csv("../data/201803-citibike-tripdata.csv")
March_2019 = pd.read_csv("../data/201903-citibike-tripdata.csv")

myseries = pd.DataFrame(pd.Series([len(March_2014), len(March_2015), len(March_2016), len(March_2017), len(March_2018), len(March_2019)]))
myseries

         0
0   439117
1   341826
2   919921
3   727665
4   976672
5  1327960

In [4]:
March_2017.columns = ['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender']

In [5]:
March_Agg = pd.concat([March_2014, March_2015, March_2016, March_2017, March_2018, March_2019], ignore_index = True)
March_Agg

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,949,2014-03-01 00:00:16,2014-03-01 00:16:05,317.0,E 6 St & Avenue B,40.724537,-73.981854,284.0,Greenwich Ave & 8 Ave,40.739017,-74.002638,17440,Subscriber,1942,1
1,533,2014-03-01 00:00:57,2014-03-01 00:09:50,457.0,Broadway & W 58 St,40.766953,-73.981693,441.0,E 52 St & 2 Ave,40.756014,-73.967416,20855,Subscriber,1960,1
2,122,2014-03-01 00:01:06,2014-03-01 00:03:08,146.0,Hudson St & Reade St,40.716250,-74.009106,276.0,Duane St & Greenwich St,40.717488,-74.010455,15822,Subscriber,1984,1
3,134,2014-03-01 00:01:14,2014-03-01 00:03:28,146.0,Hudson St & Reade St,40.716250,-74.009106,276.0,Duane St & Greenwich St,40.717488,-74.010455,17793,Subscriber,1985,1
4,997,2014-03-01 00:01:18,2014-03-01 00:17:55,150.0,E 2 St & Avenue C,40.720874,-73.980858,461.0,E 20 St & 2 Ave,40.735877,-73.982050,20756,Subscriber,1977,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4733156,351,2019-03-31 23:59:30.5850,2019-04-01 00:05:21.7850,3747.0,E 84 St & 3 Ave,40.777554,-73.955128,3351.0,E 102 St & 1 Ave,40.786995,-73.941648,37290,Subscriber,1985,1
4733157,1943,2019-03-31 23:59:55.3410,2019-04-01 00:32:18.6920,450.0,W 49 St & 8 Ave,40.762272,-73.987882,515.0,W 43 St & 10 Ave,40.760094,-73.994618,34220,Subscriber,1987,1
4733158,515,2019-03-31 23:59:50.1810,2019-04-01 00:08:25.8330,3542.0,Amsterdam Ave & W 119 St,40.808625,-73.959621,3543.0,Morningside Dr & Amsterdam Ave,40.810285,-73.957365,37863,Subscriber,1988,1
4733159,660,2019-03-31 23:59:56.6520,2019-04-01 00:10:57.3760,3434.0,W 88 St & West End Ave,40.790254,-73.977183,3538.0,W 110 St & Amsterdam Ave,40.802692,-73.962950,36103,Subscriber,1987,1
4733160,132,2019-03-31 23:59:58.0230,2019-04-01 00:02:10.5920,393.0,E 5 St & Avenue C,40.722992,-73.979955,432.0,E 7 St & Avenue A,40.726218,-73.983799,35621,Subscriber,1973,1

In [7]:
#March_Agg['Date'] = [d.date() for d in pd.to_datetime(March_Agg['starttime'],infer_datetime_format = True)]
March_Agg['Date'] = pd.to_datetime(March_Agg['starttime'],infer_datetime_format = True)
March_Agg['Month'] = March_Agg['Date'].dt.month
March_Agg['Year'] = March_Agg['Date'].dt.year
March_Agg['Time'] = March_Agg['Date'].dt.time
March_Agg

AttributeError: Can only use .dt accessor with datetimelike values

In [59]:
March_Record_Series = March_Agg[["Date","Month","Year","Time"]]
March_Record_Count = March_Record_Series.groupby(["Year","Month"]).count()
March_Record_Count

               Date     Time
Year Month
2014 3       439117   439117
2015 3       341826   341826
2016 3       919921   919921
2017 3       727665   727665
2018 3       976672   976672
2019 3      1327960  1327960